* {
    padding:0;
    margin:0;
}
html{
    font-size:16px;
}
 /*=========Quiz Styling=========*/
#quiz-container{
    display:flex;
    flex-direction:column;
    background-color:white;
    width:700px;
    height:500px;
    margin:auto;
    border:5px solid black;
}
#status-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background-color:#eeeeee;
    color:black;
    width:700px;
    height:85px;
    justify-content:center;
}
#question-count{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:#eeeeee;
    border-right:1px solid #c4c4c4;
    height:100%;
    width:50%;
    font-size:3em;
}
#points{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#eeeeee;
    height:100%;
    width:50%;
    font-size:3em;
}
#question-container{
    display:flex;
    flex-direction:row;
    height:200px;
    width:700px;
    background-color:lightgrey;
}
#left-arrow-container{
    width:15%;
    height:200px;
    display:flex;
    justify-content:center;
    align-items:center;
}
#left-arrow{
    width:64px;
    height:64px;
    background-image:url("assets/left-arrow.svg");
    background-repeat:no-repeat;
    background-size:64px;
    cursor:pointer;
    
}
#question-display{
    display:flex;
    justify-content:center;
    align-items:center;
    width:70%;
    height:200px;
    font-size:2em;
    margin-left:0.5em;
    margin-right:0.5em;
}
#right-arrow-container{
    width:15%;
    height:200px;
    display:flex;
    justify-content:center;
    align-items:center;
}
#right-arrow{
    width:64px;
    height:64px;
    background-image:url("assets/right-arrow.svg");
    background-size:64px;
    background-repeat:no-repeat;
    cursor:pointer;
}
#input-container{
    display:flex;
    justify-content:center;
    width:400px;
    height:100px;
    margin:auto;
}
#input{
    width:100%;
    height:100%;
    background-color:#eeeeee;
    border: 1px solid darkgrey;
    font-size:2em;
    text-align:center;
    outline:none;
}
#submit-container{
    display:flex;
    justify-content:center;
    width:200px;
    height:70px;
    margin:auto;
}
#submit{
    width:100%;
    height:100%;
    font-size:2em;
    background-color:#41ACCE;
    outline:none;
    border:1px solid darkgrey;
    border-radius:9px;
    box-shadow:0px 5px 8px grey;
    position:relative;
    top:0;
}
#submit:active{
    box-shadow:0px 1px 0px grey;
    top:3px;
}
 /*=========Modal Scorescreen=========*/
#modal-container{
    display:none;
    width:500px;
    height:450px;
    z-index:50;
    position:fixed;
    margin:1% auto;
    left:37%;
    box-shadow:0px 0px 5px;
}
#modal-header{
    
display:flex;
flex-direction:center;
height:20%;
width:100%;
background-color:darkgrey;
}
#modal-header-top{
    position:relative;
    display:flex;
    justify-content:flex-end;
    height:25px;
    left:485px;
}
#modal-info{
    display:flex;
    flex-direction:row;
    align-items:flex-end;
    width:100%;
    height:auto;
    margin-top:25px;
    margin-left:-15px;
    font-size:1.5em;

}
#modal-info-question{
    display:flex;
    justify-content:center;
    align-items:center;
    width:33%;
    min-height:25px;
    border-right:1px solid grey;
}
#modal-info-answer{
    display:flex;
    justify-content:center;
    align-items:center;
    width:33%;
    min-height:25px;
    border-right:1px solid grey;
}
#modal-info-outcome{
    display:flex;
    justify-content:center;
    align-items:center;
    width:33%;
    min-height:25px;
}
#modal-body{
    grid-area:body;
    height:80%;
    width:100%;
    background-color:white;
}
#modal-score-container{
    display:flex;
    width:100%;
    min-height:25px;
    flex-direction:row;
    justify-content:center;

    
}
#modal-question1{
    width:33%;
    display:flex;
    justify-content:center;
    align-items:center;
}
#modal-answer{
    width:33%;
    display:flex;
    justify-content:center;
    align-items:center;
}
#modal-outcome{
    width:33%;
    display:flex;
    justify-content:center;
    align-items:center;
}

#close-modal{
    cursor:pointer;
    margin-right:3px;
    height:auto;
}
#close-modal:hover{
    color:white;
    text-shadow:1px 2px 5px;
}
 /*=========Home page Styling=========*/
 #home-body{
     background-color:#192C94;
 }
 #home-header{
     width:100vw;
     height:auto;
     background-color:#192C94;
     color:yellow;
     display:flex;
     justify-content:center;
     align-items:center;
     flex-direction:column;
     font-size:4em;
 }
 #home-header-line{
     width:400px;
     border:2px solid yellow;
     margin-top:20px;
 }
 #gamemode-container{
     display:flex;
     justify-content:center;
     flex-direction:column;
     width:40vw;
     height:50%;
     background-color:#192C94;
     margin:auto;
     margin-top:37px;

 }
 .gamemodes{
     display:flex;
     justify-content:center;
     align-items:center;
     width:350px;
     height:66px;
     background-color:#00126E;
     color:yellow;
     border-radius:20px;
     margin:auto;
     margin-top:37px;
     font-size:1.8em;
     cursor:pointer;
 }
 footer{
     width:100%;
     height:100px;
    background-color:#00237E;
    position:fixed;
    bottom:0;
    display:flex;
    justify-content:flex-end;
 }
 #logged-in-screen{
    background-color:#00237E;
    width:5em;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    margin-right:0.5em;
    
 }
 #username{
    color:white;

 }
 #logout{
     color:red;
     font-size:0.8;
     cursor:pointer;
 }
 /*=========Mobile Media Queries=========*/
 @media only screen and (max-width:900px){
    #home-body{
        min-width:100vw;
        display:flex;
        flex-direction:column;

    }
    #home-header{
        min-width:100vw;
        font-size:2.5em;
    }
    #home-header-line{
        width:75%;
    }
    #gamemode-container{
        width:50vw;
        margin:auto;
        margin-top:0;
        height:60vh;
    }
    .gamemodes{
        width:100%;
        margin-top:1.1em;
    }
    footer{
        min-width:100%;
        height:auto;
        
    }
 }
 @media only screen and (max-width:400px){
    #home-body{
        min-width:100vw;
        display:flex;
        flex-direction:column;
    }
    #home-header{
        min-width:100vw;
        font-size:2.5em;
    }
    #gamemode-container{
        width:80vw;
        margin:auto;
        margin-top:0;
        height:60vh;
    }
    .gamemodes{
        width:100%;
        margin-top:1.1em;
        
        
    }
    footer{
        min-width:100%;
        height:auto;
    }
 }